@{
    ViewBag.Title = "Приход";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewBag.Message</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group" role="group" aria-label="First group">
            @Html.ActionLink("Новая запись", "Create", "Profit", new { }, new { @class = "viewDialog btn btn-sm btn-primary", data_dialog_title = "Создание записи" })
        </div>
    </div>
</div>

<div>
    <table id="DTable" class="display compact stripe" style="width:100%">
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Дата</th>
                <th>№ накладной</th>
                <th>Поставщик</th>
                <th>Точка учета</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th></th>
                <th></th>
                @*<th></th>*@
            </tr>
        </thead>
        @{
            int i = 1;
        }
        @foreach (var item in ViewBag.Profit)
        {

            <tr>
                <td>@i</td>
                <td>@item.Nomenclature</td>
                <td>@item.Date</td>
                <td>@item.Invoice</td>
                <td>@item.Provider</td>
                <td>@item.AccountingPoint</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@*
                    @Html.ActionLink("Редактировать", "Edit", "Profit", new { id = item.Id },
                               new { @class = "viewDialog edit", title ="Редактировать" })*@
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", "Profit", new { id = item.Id },
                               new { @class = "viewDialog", title = "Удалить" })
                </td>
            </tr>
            i++;
        }

    </table>
</div>

